@page
@model EjerciciosRazorPages.Pages.ArregloModel
@{
}
<form method="post">
    <input type="submit" value="Generar arreglo" />
</form>

<p><strong>Arreglo: </strong> @Model.resArreglo</p>
<p><strong>Suna: </strong>@Model.suma</p>
<p><strong>Media: </strong>@Model.media</p>
<p><strong>Mediana: </strong>@Model.mediana</p>
<p><strong>Moda: </strong>@Model.moda</p>